.equip-item{
    margin:0 10px 30px;
    flex:0 0 220px;
    text-align: center;

}

.equip-image {
    width: 100%;
}

.equip-name {
    margin: 5px 0;
    font-weight:500;
    color:#606060;
}

.equip-price {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight:400;
    color: rgb(221, 16, 16);
}

.equip-main{
  cursor: pointer;
}